<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitsiah</title>
</head>

<body>
  <div id="navbar"></div>
  <script>
    fetch("nav.html")
      .then(response => response.text())
      .then(data => {
        document.getElementById('navbar').innerHTML = data;
      })
      .catch(error => console.error('Error loading navigation:', error));
  </script>
  <button onclick= "window.location.href='http://localhost:8080/signup'"><b>회원가입</b></button>
</body>

</html>