<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핏시아</title>
    <link rel="stylesheet" href="/styles/exSummary.css">
    <script src="/scripts/exSummary.js" defer></script>
</head>
<body>
    <nav>
        <img src="/images/nav/LOGO.png">
        <ul class="nav-menu">
            <li><a href="/exercise">운동하기</a></li>
            <li><a href="/recommend">운동추천</a></li>
            <li><a href="/diary">다이어리</a></li>
        </ul>
        <a href="/mypage"><img src="/images/nav/Mypage.png"></a>
    </nav>
    <div class="exercise_box" id="box1">
        <a href="/exStart" id="startButton">운동 시작하기</a>
        <header>
            <h6>내 루틴</h6>
            <a href="#">수정하기</a>
        </header>
        <div class="rutin_wrap">
            <div class="ex_rutin">
                <img src="/images/exSummary/rectangle-12.png" alt="">
                <p>레그 익스텐션</p>
                <p>하체</p>
                <p>총 볼륨 4538kg</p>
                <p>75.63kg x 15회 4세트</p>
            </div>
            <div class="ex_rutin">
                <img src="/images/exSummary/rectangle-12.png" alt="">
                <p>레그 익스텐션</p>
                <p>하체</p>
                <p>총 볼륨 4538kg</p>
                <p>75.63kg x 15회 4세트</p>
            </div>
            <div class="ex_rutin">
                <img src="/images/exSummary/rectangle-12.png" alt="">
                <p>레그 익스텐션</p>
                <p>하체</p>
                <p>총 볼륨 4538kg</p>
                <p>75.63kg x 15회 4세트</p>
            </div>
            <div class="ex_rutin">
                <img src="/images/exSummary/rectangle-12.png" alt="">
                <p>레그 익스텐션</p>
                <p>하체</p>
                <p>총 볼륨 4538kg</p>
                <p>75.63kg x 15회 4세트</p>
            </div>
            <div class="ex_rutin">
                <img src="/images/exSummary/rectangle-12.png" alt="">
                <p>레그 익스텐션</p>
                <p>하체</p>
                <p>총 볼륨 4538kg</p>
                <p>75.63kg x 15회 4세트</p>
            </div>
            <img src="/images/exSummary/vector-3.png" id="next">
        </div>
    </div>
    <div class="exercise_box" id="box2">
        <header>
            <h6>날짜</h6>
            <h6>나의 <span id="Yellow">운동요약</span></h6>
        </header>
        <div class="ex_sum">
            <img src="/images/exSummary/dumbbell-1.png">
            <div class="exSum_de">
                <p>운동시간</p>
                <h6>1시간 19분</h6>
            </div>
            <img src="/images/exSummary/dumbbell-1.png" alt="">
            <div class="exSum_de">
                <p>운동시간</p>
                <h6>1시간 19분</h6>
            </div>
            <img src="/images/exSummary/exercise-1.png" alt="">
            <div class="exSum_de">
                <p>운동시간</p>
                <h6>1시간 19분</h6>
            </div>
        </div>
    </div>
</body>
</html>