<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsiah</title>
    <link rel="stylesheet" href="/styles/login.css">
    <script type="javascript" src="/scripts/login.js"></script>
  </head>
  <body>
    <div class="login-wrapper">
      <img src="/images/nav/LOGO.png">
      <div class="login-input">
        <form action="/login" method="post">
          <input type="text" name="user_id" placeholder="아이디">
          <input type="password" name="user_pw" placeholder="비밀번호">
          <input type="submit" value="핏시아 로그인">
        </form>
      </div>
      <div class="signup"><a href="/signup">회원가입</a></div>
    </div>
  </body>
</html>