<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsiah</title>
    <link rel="stylesheet" href="/styles/routineExplain.css">
    <script type="javascript" src="/scripts/routineExplain.js"></script>
  </head>
  <body>
    <nav>
        <img src="/images/nav/LOGO.png">
        <ul class="nav-menu">
            <li><a href="/exercise">운동하기</a></li>
            <li><a href="/recommend">운동추천</a></li>
            <li><a href="/diary">다이어리</a></li>
        </ul>
        <a href="/mypage"><img src="/images/nav/Mypage.png"></a>
    </nav>
    <div class = "wrap">
      <img src = "/images/routineExplain/picture4.png">
      <div class = "introduce">
        <h1>다이어트 플랜<br>시작하기(입문)</h1>
        <p>체지방을 감소시키고 싶으신가요? 기본 동작들로 효율적인 운동을 해보세요!</p>
      </div>
    </div>
    <div class = "sector1">
      <div class="rect1">
        <div class="text1">
          <h1>이 플랜에서는 무엇을 하나요?</h1>
          <p>입문 플랜을 통해 건강하게 체중을 감량하고, 더 나은 생활 습관을 형성해보세요! 핏시아가 {user}님을 위해 가장 적절한 플랜을 준비해봤어요. 전반적인 건강 개선 효과도 기대할 수 있을거에요!</p>      
        </div>
      </div>
    </div>
    <div class = "question"><h1>플랜의 난이도는 어떤가요?</h1></div>
    <div class="container">
      <div class="box">
        <p>추천 수준</p>
        <h1>입문</h1>
      </div>
      <div class="box">
        <p>난이도</p>
        <h1>쉬움</h1>
      </div>
      <div class="box">
        <p>운동 횟수</p>
        <h1>2회/주</h1>
      </div>
      <div class="box">
        <p>운동 시간</p>
        <h1>60분</h1>
      </div>
    </div>
    <div class = "question"><h1>플랜을 요약해주세요</h1></div>
    <div class = "sector2">
      <div class = "sector2-1">
        <div class = "mid">
          <div class="head-1-left" id="head-left"><h1>1주차</h1></div>
          <div class="head-1-right" id="head-right"><p>등, 가슴, 어깨, 하체, 코어, 유산소</p></div>
        </div>
        <img src = "/images/routineExplain/picture5.png">
      </div>
    </div>
    <div class="sector2-1">
      <div class = "mid">
        <div class="head-1-left" id="head-left"><h1>2주차</h1></div>
        <div class="head-1-right" id="head-right"><p>등, 가슴, 어깨, 하체, 코어, 유산소</p></div>
      </div>
      <img src = "/images/routineExplain/picture6.png">
    </div>
  </body>
</html>