<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핏시아</title>
    <link rel="stylesheet" href="/styles/setting.css">
    <script src="/scripts/setting.js" defer></script>
</head>
<body>
    <div class="all-wrap">
        <div class="setting-wrap">
            <form action="/set" method="post">
                <div id="q2">
                    <p>당신에게 딱 맞는 운동을 위해</p>
                    <h1>키, 몸무게를 입력해주세요</h1>
                    <input type="number" name="user_height" placeholder="키" required>
                    <input type="number" name="user_weight" placeholder="몸무게" required>
                </div>
                <div id="q3">
                    <p>어떤 도움이 필요한지 확인하기 위해</p>
                    <h1>운동 숙련도를 알려주세요</h1>
                    <input type="radio" id="beginner" name="user_proficiency" value="beginner">
                    <label for="beginner">입문자</label>
                    <input type="radio" id="intermediate" name="user_proficiency" value="intermediate">
                    <label for="intermediate">중급자</label>
                    <input type="radio" id="advanced" name="user_proficiency" value="advanced">
                    <label for="advanced">숙련자</label>
                </div>
                <div id="q4">
                    <p>당신의 목적에 맞는 도움을 위해</p>
                    <h1>운동 목적을 알려주세요</h1>
                    <input type="radio" id="weight_loss" name="user_purpose" value="weight_loss">
                    <label for="weight_loss">다이어트</label>
                    <input type="radio" id="bulking" name="user_purpose" value="bulking">
                    <label for="bulking">벌크업</label>
                    <input type="radio" id="endurance" name="user_purpose" value="endurance">
                    <label for="endurance">체력</label>
                </div>
                <button id="submitButton" type="submit">완료</button>
            </form>
        </div>
    </div>
</body>
</html>
