<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핏시아</title>
    <link rel="stylesheet" href="/styles/setting.css">
    <script src="/scripts/setting.js" defer></script>
    <script>
        $(document).ready(function(){
            $("#user_proficiency").change(function(){
                var val = $("#user_proficiency").find(":selected").val();
                $("#value").val(val);
            });
        });
    </script>
</head>
<body>
    <div class="all-wrap">
        <img src="/images/Vector 2.png" id="settingImg">
        <div class="setting-wrap">
            <form action="/set" method="post" id="settingForm">
                <div id="q2">
                    <p>당신에게 딱 맞는 운동을 위해</p>
                    <h1>키, 몸무게를 입력해주세요</h1>
                    <input type="number" name="user_height" placeholder="키">
                    <input type="number" name="user_weight" placeholder="몸무게">
                </div>
                <div id="q3">
                    <p>어떤 도움이 필요한지 확인하기 위해</p>
                    <h1>운동 숙련도를 알려주세요</h1>
                    <select id="user_proficiency" onChange="getselect1()">
                        <option value="beginner">입문자</option>
                        <option value="intermediate">중급자</option>
                        <option value="advanced">숙련자</option>
                    </select>    
                </div>
                <div id="q4">
                    <p>당신의 목적에 맞는 도움을 위해</p>
                    <h1>운동 목적을 알려주세요</h1>
                    <select id="user_purpose" onChange="getselect2()">
                        <option value="weight_loss">다이어트</option>
                        <option value="bulking">벌크업</option>
                        <option value="endurance">체력</option>
                    </select>
                </div>
                <input class="nextsubButton" id="nextButton" type="button" value="완료">
                <input class="nextsubButton" id="submitButton" type="submit" value="완료">
            </form>
        </div>
    </div>
</body>
</html>
