<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsiah</title>
    <link rel="stylesheet" href="/styles/singup.css">
    <script type="javascript" src="/scripts/singup.js"></script>
</head>
<body>
    <div class="wrap_signuptxt">
        <form action="/signup" method="post">
            <img src="/images/nav/LOGO.png">
            <p>아이디</p>
            <input type="text" name="signup_id">
            <p>비밀번호</p>
            <input type="password" name="signup_pw">
            <p>비밀번호 확인</p>
            <input type="password" name="signup_repw">
            <p>이름</p>
            <input type="text" name="signup_name">
            <p>생년월일</p>
            <input type="date" name="signup_date">
            <input type="submit" value="핏시아 로그인">
        </form>
    </div>
</body>
</html>