/*폰트*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/*기본 폰트 Pretendard*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*다이어리 아이콘 사용*/


/*전체, body 속성*/
* {
    font-family: 'Pretendard';
    color: #fff;
}

body {
    margin: 0;
    background-color: #1F2024;
    /* max-width: 1920px; */
    /*화면 축소했을 때 네비가 끊기는 현상이 있어 주석처리함*/
}

.white-text {
    color: white;
}

.yellow-text {
    color: #ffd700;
}


/*박스에 사용될 기본 속성(디자인)*/
.box-set {
    background-color: #2B2C31;
    padding: 25px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
}

/*박스 헤더에 사용될 기본 속성(디자인)*/
.box-set>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/*네비게이션*/
nav {
    /*네비게이션 wrapper*/
    padding: 0 15px;
    background-color: #2B2C31;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>img {
    /*네비게이션 로고 이미지*/
    max-height: 110px;
}

nav>a>img {
    /*마이페이지 이미지*/
    max-height: 50px;
}

nav>ul {
    /*운동하기 등 목록 ul*/
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 0;
    /*화면이 줄어들어도 글자 원래 형태 유지*/
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    padding: 0 50px;
}




main {
    display: flex;
    justify-content: center;
}

.main-box {
    margin-top: 100px;
    width: 1280px;
    height: 4300px;
    padding: 0;
}



/* 하단부 타이머를 담당하는 박스 */
.under-box {
    width: 81%;
    height: 90px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    background-color: #42444b;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* 운동타이머 */
.timer-box,
.rest-box,
.complete-box {
    padding: 15px 60px;
    width: 280px;
    height: 80px;
    margin: 0 20px;
}

.timer-box>header,
.rest-box>header {
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.timer-box>header p {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 14px;
    ;
}

.rest-box>header p {
    margin: 5px 0;
    margin-bottom: 12px;
    flex-shrink: 0;
}

.timer-box>main {
    display: flex;
    align-items: center;
}

.timer-box .timer-display {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
    margin-right: 34px;
    flex-shrink: 0;
}

.timer-box img {
    margin: 0 15px;
    width: 33px !important;
    height: 33px !important;
    flex-shrink: 0;
    max-width: none;
    height: auto;
    object-fit: cover;
}

.timer-box #pause-timer {
    width: 36px !important;
    height: 36px !important;
    margin: 0 13px;
}

.timer-box img:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.timer-box img:active {
    cursor: default;
}

/* 휴식타이머 */
.rest-box {
    width: 120px;
    height: 80px;
}

.rest-box span {
    font-size: 28px;
    font-weight: 700;
}

/* 운동완료 */
.complete-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    width: 170px;
    height: 50px;
    background-color: #ffd600;
    flex-shrink: 0;
}

.complete-box p {
    color: black;
}

.complete-box:hover {
    cursor: pointer;
    filter: grayscale(50%);
    transition: filter 0.3s;
}

.complete-box:active {
    cursor: default;
    filter: grayscale(0);
}




/* 운동 종목 박스 */
.exercise-list {
    padding: 25px;
    display: inline-block;
    vertical-align: top;
}

.exercise-list>header {
    font-size: 30px;
    font-weight: 500;
    display: block;
    justify-content: space-between;
    padding: 0 30px;
    margin-left: 10px;
}

.exercise-list>header>.title-div {
    width: 400px;
    height: 1px;
    background-color: #9ca1b5;
    border: none;
    margin: 10px 0;
    justify-content: left;
}

.exercise-list>header>.total-bolume {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}

.exercise-list>main {
    display: flex;
    flex-direction: column;
}


/* 세트 하나를 관리 */
.one-set {
    margin: 10px 0;
    margin-left: 15px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
}

.one-set p {
    font-size: 26px;
    font-weight: 600;
}

.one-set .set-num {
    margin-right: 90px;
}

.one-set .unit {
    margin-right: 20px;
    margin-left: 15px;
}

.empty-box {
    border: 2px solid white;
    border-radius: 10px;
    width: 230px;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.empty-box input {
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    width: 200px;
    height: 60px;
    border: none;
    text-align: center;
    outline: none;
}

.empty-box input::placeholder {
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;

}

.empty-box input:focus::placeholder {
    color: #8b8a8a;
}

.check-box,
.check-box-complete {
    display: flex;
    position: relative;
    border: 2px solid #717171;
    background-color: #717171;
    justify-content: center;
    align-items: center;
    margin-left: 900px;
}

.check-box:hover,
.check-box-complete:hover {
    cursor: pointer;
    filter: grayscale(50%);
    transition: filter 0.3s;
}

.check-box img,
.check-box-complete img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-box-complete {
    background-color: #ffd600;
}