/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* 기본 속성 */
* {
    font-family: 'pretendard';
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; /* 모든 요소의 box-sizing을 border-box로 설정 */
}
body {
    margin: 0;
    background-color: #1F2024;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
/*로그인*/
.login-wrapper {
    width: 400px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-wrapper > img {
    max-height: 150px;
}
.login-wrapper input {
    width: 100%; /* 모든 input 요소의 너비를 100%로 설정 */
    height: 45px;
    margin: 5px auto;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box; /* 내부 패딩과 보더를 포함한 전체 너비 설정 */
}
.login-wrapper input[type="text"] {
    background-color: #42444B;
    color: #fff;
    padding-left: 10px;
    font-weight: 200;
}

.login-wrapper input[type="password"]{
    background-color: #42444B;
    color: #fff;
    padding-left: 10px;
    font-weight: 200;
}

.login-wrapper input[type="submit"] {
    background-color: #FFD700;
    color: #1F2024;
    font-weight: 600;
}
.signup {
    margin-top: 25px;
}
.signup a {
    color: #42444B;
}