/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 기본 속성 */
* {
    font-family: 'pretendard';
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1F2024;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

p {
    margin-top: 40px;
}

h1 {
    margin: 3px 0 10px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: left; /* 왼쪽 정렬 */
}

#settingImg {
    max-width: 15px;
    margin: auto 15px 20px 15px; /* 수정 */
}

.all-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 수정 */
}

.setting-wrap {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 수정 */
}

input, select {
    width: 380px; 
    height: 45px;
    margin: 5px 0; /* 수정 */
    border-radius: 10px;
    background-color: #42444B;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    display: block;
    text-align: left; /* 왼쪽 정렬 */
    color: #ffffff; /* 텍스트 색상 */
}

button {
    background-color: #FFD700;
    color: #1F2024;
    margin-top: 20px;
    font-weight: 600;
    display: block; /* 블록 요소로 설정하여 가운데 정렬 */
    width: 380px; /* 다른 input 요소와 같은 넓이 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.2s ease-out; /* transition duration increased to 1 second */
}

.fade-in {
    opacity: 0;
    display: block;
    transition: opacity 0.2s ease-in; /* transition duration increased to 1 second */
}

.fade-out.complete {
    opacity: 0;
}

.fade-in.show {
    opacity: 1;
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨기기 */
}

input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0; /* 수정 */
    width: 120px; /* 크기 조정 */
    text-align: center;
    font-size: 24px; /* 폰트 크기 */
    background-color: #42444B;
    color: #ffffff;
    border-radius: 4px;
}

input[type="radio"]:checked + label {
    background-color: #FFD700; /* 선택 시 배경 색상 */
    color: #000000; /* 선택 시 글자 색상 */
}
