@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


body{
    margin: 0;
    background-color: #1F2024;
    max-width: 1920px;
}

/*네비게이션*/
nav{
    padding: 0 15px;
    background-color: #2B2C31;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    max-height: 110px;
}
nav>a>img{ /*마이페이지*/
    max-height: 50px;
}
nav>ul {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
}
nav>ul>li {
    display: inline-block; /* 가로로 정렬되도록 설정 */
}
nav>ul>li>a {
    text-decoration: none;    
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 25px;
    padding: 0 50px;
    color: #FFF;
}